[mysqld]
skip_networking = 0
bind-address = 127.0.0.1
datadir = {{ .DataDir }}
port = {{ .Port }}
general_log_file = /opt/homebrew/var/log/mysql/{{ .Version }}/mysql.log
general_log = {{ .GeneralLog }}
log_error = /opt/homebrew/var/log/mysql/{{ .Version }}/error.log
slow_query_log_file = /opt/homebrew/var/log/mysql/{{ .Version }}/slow.log
slow_query_log = 1
long_query_time = 1
interactive_timeout = 300
wait_timeout = 300
max_allowed_packet = 256M
table_open_cache = 250

[mariadb]
lower_case_table_names=2